.timeline {
  border-bottom: 20px solid #252525;
  position: relative;
  .header {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        text-align: center;
        height: 60px;
        a {
          color: #fff;
          text-decoration: none;
          display: inline-block;
          font-size: 20px;
        }
      }
      &.primary {
        height: 60px;
        background: transparent;
        li {
          width: 9%;
          margin-right: 1px;
          background: #252525;
          &:last-child {
            border-right: none;
          }
          &.active {
            background: #ff543e;
          }
          a {
            padding-top: 17px;
          }
        }
      }
      &.secondary {
        height: 30px;
        background: #ff543e;
        text-align: center;
        li {
          a {
            padding-top: 4px;
            font-size: 14px;
            color: #fff;
          }
          width: 10%;
          &.active a{
            color: #fff;
            position: relative;
            font-weight: bold;
            &:after {
              content: '';
              position: absolute;
              left: 50%;
              bottom: 0;
              margin: 0 0 0 -8.5px;
              top: 30px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 9px 8.5px 0 8.5px;
              border-color: #ff543e transparent transparent transparent;
            }
          }
        }
      }
    }
  }
  .content {
    background: #3b3b3b;
    margin: 0;
    padding: 10px 30px;
    min-height: 600px;
    color: #304254;
    h3 {
      color: #bfc5cc;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
  }
}
