#movies_list {
  padding: 120px 0;
  h1 {
    color: #fff;
    margin-bottom: 40px;
  }
  table {
    color: #fff;
    thead {
      border-bottom: 3px solid #fff;
      color: #565656;
      font-size: 16px;
      th {
        &.title {
          width: 20%;
        }
        a {
          color: #565656;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
    tbody {
      tr {
        background: transparent;
        td {
          vertical-align: middle;
        }
        a {
          color: #fff;
          font-weight: bold;
          &:hover, &:active, &:focus {
            color: #ff543e;
            text-decoration: none;
          }
        }
      }
    }
    tfoot {
      a {
        background-color: #3b3b3b;
        color: #ff543e;
        border: 1px solid #4b4b4b;
      }
      p {
        text-align: right;
        margin: 10px 10px 0 0;
        line-height: 0;
      }
      li.active {
        a {
          color: #fff;
          background-color: #ff543e;
          border: 1px solid #ff543e;
        }
      }
      li.disabled {
        a {
          cursor: default;
          color: #4b4b4b;
        }
      }
    }
  }
  .pagination {
    background: #3b3b3b;
  }
  .filter {
    input {
      float: right;
      background: transparent;
      border: none;
      border-left: 1px solid #eee;
      margin-bottom: 20px;
      padding: 5px 20px;
      width: 220px;
    }
  }
}
