<app-header></app-header>
<div id="body">
  <div id="intro">
    <div class="wrapper">
      <div class="intro_text">
        <h1>Welcome To The San Francisco Movies Portal</h1>
        <p>
          If you love movies, and you love San Francisco, you're bound to love this -- a listing of filming locations of movies shot in
          San Francisco starting from 1915. You'll find the titles, locations, fun facts, names of the director, writer, actors, and much
          more for most of these films.
        </p>
      </div>
    </div>

  </div>
  <div id="timeline_section">
    <div class="wrapper">
      <app-timeline></app-timeline>
    </div>
  </div>
</div>
<app-footer></app-footer>
