<app-header></app-header>
<div id="body">
  <div id="movies_list" class="wrapper">
    <h1>Movies List</h1>

    <div class="filter">
      <app-search [placeholder]="'Filter movies..'" (queryChanged)="query = $event; "></app-search>
    </div>
    <table class="table table-striped" [mfData]="movies | queryFilter:queryTargets:query" #mf="mfDataTable" [mfRowsOnPage]="25">
      <thead>
      <tr>
        <th class="title">
          <mfDefaultSorter by="title">Title</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="release_year">Release Year</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="production_company">Production Company</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="director">Director</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="distributor">Distributor</mfDefaultSorter>
        </th>
        <th>
          Starring
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let movie of mf.data">
        <td><a routerLink="/movieDetails/{{movie.title}}">{{movie.title}}</a></td>
        <td>{{movie.release_year}}</td>
        <td>{{movie.production_company}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.distributor}}</td>
        <td>
          {{movie.actor_1}}<span *ngIf="movie.actor_2">, {{movie.actor_2}}</span><span *ngIf="movie.actor_3">, {{movie.actor_3}}</span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6">
          <p>Results Per Page: </p>
          <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<app-footer></app-footer>



